<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upravitelj gesel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8c786dc548.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Upravitelj gesel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-item nav-link" href="/gesla/">Gesla</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="/kartice/">Kartice</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="/generator/">Generator gesel
                <span class="icon">
                  <i class="fa-solid fa-arrows-rotate" style="color:rgba(255,255,255,.55)"></i>
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="/varnost/">Varnost</a>
            </li>
          </ul>
          % if uporabnik != None:
            <form method="POST" action="/odjava/">
              <button class="btn btn-outline-success my-2 my-sm-0 button-dark" value="odjava_post">
                Odjavi se
              </button>
            </form>
            % else:
              <div class="navbar-nav">
                <a class="btn btn-outline-success my-2 my-sm-0 button-dark" href="/registracija/">
                  <strong>Registriracija</strong>
                </a>
                <a class="btn btn-outline-secondary my-2 my-sm-0 button-dark" href="/prijava/">
                  Prijava
                </a>
              </div>
            % end
        </div>
      </div>
    </nav>
    <section class="section">
      {{!base}}
    </section>
  </body>
</html>